<!DOCTYPE html>
<html>
    <head>
        <title>Real time Style Transfer</title>
    </head>
    <body>
        <h1>File Upload</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            <p>Add content image: <input type="file" name="file1"></p>
            <p>Add style image:<input type="file" name="file2"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
        {% if image %}
        <img src="{{ image }}" alt="Rendered image" height="500" width="500">
        {% endif %}
    </body>
</html>